* { margin: 0; padding: 0; }
html, body { width: 100%; height: 100%; }
body { background: #ccc url(../images/bg_wood.jpg) no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; font-family: 'Open Sans', Arial; overflow: hidden; }

#logo { position: absolute; top: 0; left: 50%; width: 100px; margin: 0 0 0 -50px; z-index: 20; }

.wrapper { position: relative; width: 80%; height: 80%; margin: 6% auto 0; }

/* Pages */
#Pages { width: 100%; height: 100%; overflow: hidden; background: rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 15px rgba(0,0,0,0.5); -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.5); box-shadow: inner 0 0 15px rgba(0,0,0,0.5); border: 1px solid #705136; }
	#Pages .container,
	#Pages .page { float: left; width: 100%; height: 100%; background: #fcfcfc; list-style: none; text-align: center; position: relative; }
	#Pages .page:nth-child(even) { background: #f3f3f3; }
		#Pages .page span { display: block; position: absolute; top: 50%; left: 50%; width: 80%; height: 160px; margin: -80px 0 0 -40%; font-size: 48px; letter-spacing:-3px; color: #6c6c6c; -webkit-user-select: none; }

/* Controls */
.control { position: absolute; top: 50%; margin-top: -30px; padding: 10px; width: 60px; height: 60px; z-index: 100; cursor: pointer; line-height: 60px; font-weight: bold; border-radius: 60px; text-align: center;  -webkit-user-select: none; background: #5b7f97; color: #fff; }
	.control.prev { left: -40px; display: none; }
	.control.next { right: -40px; }

a#forkme_banner { position: absolute; top: 0; left: 0; width: 138px; height: 138px; display: block; background: transparent url(../images/fork-sprite.png) 0 0 no-repeat;
	text-indent: -9000px; z-index: 3; }
a#forkme_banner:hover { background-position: 0 -138px; }

/*	Mobile Layout: < 600px.
------------------------------------------------------------*/
@media only screen and (max-width: 599px) {
	.wrapper { width: 90%; }
	#Pages .page span { font-size: 36px; }
}

/*	Mobile Layout: <= 500px.
------------------------------------------------------------*/
@media only screen and (max-width: 800px) {
	body { background: #ccc; }
	.wrapper { margin-top: 30px; }
	#Pages { border-color: #9c9c9c; }
		#Pages .page span { font-size: 24px; }
	.control { padding: 5px; width: 50px; height: 50px; line-height: 50px; font-size: 11px; }
	.control.prev { left: -20px; }
	.control.next { right: -20px; }
}